{% extends 'base.html.twig' %}

{% set is_edit = task.id is not null %}

{% block title %}{{ is_edit ? 'Edit task' : 'New task' }}{% endblock %}

{% block body %}
    <h1>{{ is_edit ? 'Edit task #' ~ task.id : 'New task' }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.done) }}
        {{ form_row(form.assignee) }}
        <button type="submit">{{ is_edit ? 'Save' : 'Create' }}</button>
    {{ form_end(form) }}

    <p>
        {% if is_edit %}
            <a href="{{ path('task_details', {id: task.id}) }}">Cancel</a>
        {% else %}
            <a href="{{ path('task_index') }}">Back to tasks</a>
        {% endif %}
    </p>
{% endblock %}
